.button-header {
    white-space: nowrap;
}

.button-header i{
    cursor: pointer;
}

.wbdv-actions {
    cursor: pointer;
}

.wbdv-hidden {
    display: none;
}

.back-home-button {
    padding-top: 1%;
}